<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"  xmlns:path="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Place order</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
          crossorigin="anonymous">
</head>
<body>
<div class="container my-3" style="width: 500px; margin: auto">
    <h1>Adding an order</h1>
    <form action="#" th:action="@{/orders/addorder}" th:object="${order}" method="post">
        <label>Order info</label>
        <input class="form-control form-control-sm mb-1 col-2" type="text"  th:field="*{orderInfo}"  placeholder="Order name">
        <label>From address</label>
        <input class="form-control form-control-sm mb-1 col-2" type="text"  th:field="*{addressFrom.name}"  placeholder="Address From">
        <label>From phone</label>
        <input class="form-control form-control-sm mb-1 col-2" type="text"  th:field="*{addressFrom.phone}"  placeholder="Phone From">
        <label>To address</label>
        <input class="form-control form-control-sm mb-1 col-2" type="text"  th:field="*{addressTo.name}"  placeholder="Address To">
        <label>To phone</label>
        <input class="form-control form-control-sm mb-1 col-2" type="text"  th:field="*{addressTo.phone}"  placeholder="Phone To">
        <label>Order price</label>
        <input class="form-control form-control-sm mb- col-2" type="text"  th:field="*{ransomSum}" pattern="^[ 0-9]+$" placeholder="Order price">
        <label>Delivery price</label>
        <input class="form-control form-control-sm mb- col-2" type="text"  th:field="*{deliveryPrice}" pattern="^[ 0-9]+$" placeholder="Delivery price">
        <label>Couriers</label>
        <select th:field="*{courier}" class="form-control form-control-sm mb-1 col-2">
            <option th:each="couriers:${courier}" th:value="${couriers.courierId}" th:text="${couriers.firstName}"></option>
        </select>
        <label>Admins</label>
        <select th:field="*{admin}" class="form-control form-control-sm mb-1 col-2">
            <option th:each="admins:${admin}" th:value="${admins.adminId}" th:text="${admins.firstName}"></option>
        </select>
        <label>Order description</label>
        <input class="form-control form-control-sm mb-1 col-2" type="text"  th:field="*{comments}" placeholder="Comments">
        <label>Order status</label>
        <select th:field="*{orderStatus}" class="form-control form-control-sm mb-1 col-2" >
            <option th:each="orderStatuses:${orderStatus}" th:value="${orderStatuses.orderStatusId}" th:text="${orderStatuses.name}"></option>
        </select>
        <input type="submit" class="btn btn-success" value="Save">
        <a th:href="@{/orders/all}" class="btn btn-danger">Cancel</a>
    </form>
</div>
</body>
</html>